body {
    background-color: #000000;
    color: #02FF04;
    overflow-x: hidden;
}
.btn-custom {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    color: #000000;
    background-color: #02FF04;
    border-color: #02FF04;
}
.btn-custom:hover {
    color: #02FF04;
    background-color: #000000;
    border-color: #02FF04;
}
.btn-outline-custom {
    color: #02FF04;
    border-color: #02FF04;
    background-color: #010D01;
    border-bottom: none;
    border-top: none;
    border-radius: 0;
}
.btn-outline-custom:hover {
    color: #000000;
    background-color: #02FF04;
}
.textarea-custom {
    height: calc(100vh - 200px);
    min-height: 200px;
    font-size: 1.2rem;
    resize: none;
    background-color: #010D01 !important;
    color: #02FF04 !important;
    border-color: #02FF04 !important;
}

.input-custom {
    font-size: 1.2rem;
    resize: none;
    background-color: #010D01 !important;
    color: #02FF04 !important;
    border-color: #02FF04 !important;
}
.side-button {
    height: 100%;
}
.double-border {
    border: 2px solid #02FF04;
    outline: 1px solid #02FF04;
    outline-offset: 3px;
    background-color: transparent !important;
}
.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.table {
    color: #02FF04;
    --bs-table-bg: transparent;
    --bs-table-color: white;
}
.table th, .table td {
    border-color: #02FF04;
}
@media (max-width: 768px) {
    .side-button {
        height: 60px;
    }
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #FFFFFF;
    opacity: 0;
    animation: twinkle 5s infinite;
}
@keyframes twinkle {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}