<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>llmapi4free - Auth</title>
    <link rel="stylesheet" th:href="@{~/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/custom.css}">
</head>
<body>
    <div id="stars"></div>
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <form class="text-center p-5 double-border" th:action="@{/auth}" method="post" style="width: 500px; background-color: #0a0a0a; border: 1px solid #1a1a1a;">
            <h1 class="mb-5 fw-bold">Create auth task</h1>
            
            <!-- Email -->
            <div class="mb-4">
                <input type="email" 
                       name="login" 
                       class="form-control input-custom" 
                       placeholder="Login">
            </div>

            <!-- Password -->
            <div class="mb-4">
                <input type="password" 
                       name="password" 
                       class="form-control input-custom" 
                       placeholder="Password">
            </div>

            <!-- Select -->
            <div class="mb-4">
                <select class="form-select input-custom" name="provider">
                    <option th:each="llm: ${authRequired}" th:text="${llm.provider}" th:value="${llm.provider}"></option>
                </select>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-outline-custom w-100" type="submit">
                Sign in
            </button>
        </form>
    </div>

    <script th:src="@{~/bootstrap.bundle.min.js}"></script>
    <script th:src="@{~/stars.js}"></script>
</body>
</html>