<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>llmapi4free</title>
    <link rel="stylesheet" th:href="@{~/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/custom.css}">
</head>
<body>
    <div id="stars"></div>
    <div class="container-fluid p-0">
        <div class="content-wrapper">
            <!-- Навигационное меню -->
            <nav th:replace="~{fragments/mainMenu :: navigation}"></nav>

            <!-- Основной контент -->
            <form th:action="@{/send}" method="post" class="row g-0 mx-0 mb-3 mt-3">
                <div class="col-12 col-md-1 mb-2 mb-md-0">
                    <a th:href="@{~/newchat}" style="text-align: center;" class="btn btn-custom side-button w-100 rounded-end-0">Create new chat</a>
                </div>
                <div class="col-12 col-md-10 mb-2 mb-md-0">
                    <textarea th:text="${promtChache}" class="form-control textarea-custom w-100 rounded-0" name="promt" id="promtArea" placeholder="Enter your message here..." style="min-height: 200px;"></textarea>
                </div>
                <div class="col-12 col-md-1">
                    <button class="btn btn-custom side-button w-100 rounded-start-0" type="submit">Send</button>
                </div>
            </form>

            <!-- Таблица с предыдущими вопросами -->
            <div class="table-responsive px-2">
                <table class="table table-borderless double-border">
                    <thead>
                        <tr class="border-bottom" style="border-color: #02FF04 !important;">
                            <th>Previous Questions</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${latestPromts != null}" th:each="promt: ${latestPromts}">
                            <td th:text="${promt.result}">Question 1</td>
                            <td class="text-end"><a class="btn btn-outline-custom w-100" th:href="@{'~/task/' + ${promt.id}}">View</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{~/bootstrap.bundle.min.js}"></script>
    <script th:src="@{~/stars.js}"></script>
    <script>
        document.getElementById('promtArea').addEventListener('input', () => {
            const text = document.getElementById('promtArea').value;
            saveText(text);
        });

        function saveText(text) {
            fetch('/api/promtChache/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    promt: text
                })
            })
            .then(response => response.json())
            .then(data => console.log('Text saved:', data))
            .catch((error) => console.error('Error:', error));
        }
    </script>
</body>
</html>