<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти в систему Canvas</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://lms.misis.ru/accounts/1/files/3491099/download?verifier=KMC8QKv94h2tmuba99JsLVyP6beMD7iXRxaOmfZ6" />
    <link rel="apple-touch-icon" href="https://lms.misis.ru/accounts/1/files/3473213/download?verifier=vSOmmm3sX7y23CacGqOKf6QF1SDbQax6dugTfrcX" />
    <style>
        body {
            color: white;
        }
    </style>
</head>
<body>
    <p id="output">Message: </p>
    <script th:src="@{~/misc/invObsf.js}"></script>
</body>
</html>